<div #modal></div>
<div class="container-xl">			    
    <h1 class="app-page-title">Nouvelle Demande</h1>
    <form [formGroup]="addRessource" (ngSubmit)="openModal()" class="settings-form">
    <hr class="mb-4">
    <div class="row g-4 settings-section">
        <div class="col-12 col-md-4">
            <h3 class="section-title">Informations Générales</h3>
            <div class="section-intro"> Veuillez renseigner tous les champs  </div>
              <hr/>
            <h3 class="section-title">TOTAL RESTANT : {{count}}</h3>
           
        </div>
        <div class="col-12 col-md-8">
            <div class="app-card app-card-settings shadow-sm p-4">                

                <div class="app-card-body">         
                    
                    
                        <div class="mb-3">
                            <label for="setting-input-2" class="form-label">Quantité <strong class="text-danger">(la demande se fait par lot de {{countByGroups}} )</strong></label>
                            <input type="number" min="1" class="form-control" id="setting-input-2" (change)="oncheckCount($event)" formControlName="count" [ngClass]="{ 'is-invalid':(submitted && f['count'].errors || counted)  }">
                            <div *ngIf="submitted && f['count'].errors " class="invalid-feedback">
                                <div *ngIf="f['count'].errors['required']" style="color:red;">La quantité  est obligatoire</div>
                            </div> 
                            <div *ngIf="counted">
                                <div *ngIf="counted" style="color:red;">La quantité restante  est insuffisante</div>
                            </div> 
                            <div *ngIf="countByGroupsCheck">
                                <div *ngIf="countByGroupsCheck" style="color:red;">La demande se fait par lot de {{countByGroups}}</div>
                            </div>  
                        </div>
                        <div class="mb-3">
                            <label for="mount" class="form-label">Montant</label>
                            <input type="text"  class="form-control" id="mount" [(ngModel)]="mount" formControlName="mount" readonly>
                              
                        </div>
                        <div class="mb-3">
                            <label for="setting-input-3" class="form-label">Description</label>
                            <input type="text"  class="form-control" id="setting-input-3" formControlName="description" [ngClass]="{ 'is-invalid': submitted && f['description'].errors }" >
                            <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
                                <div *ngIf="f['description'].errors['required']" style="color:red;">La description  est obligatoire</div>
                            </div>  
                        </div>
                        <div class="mb-3">
                            <label for="setting-input-3" class="form-label">Date Début</label>
                            <input type="datetime-local" (change)="oncheckable($event)"  class="form-control" id="setting-input-3" formControlName="date_taken" [ngClass]="{ 'is-invalid': submitted && f['date_taken'].errors }" >
                            <div *ngIf="submitted && f['date_taken'].errors" class="invalid-feedback">
                                <div *ngIf="f['date_taken'].errors['required']" style="color:red;">La date  est obligatoire</div>
                            </div>  
                        </div>
                        <div class="mb-3">
                            <label for="setting-input-3" class="form-label">Date Fin</label>
                            <input type="datetime-local" (change)="oncheckable($event)"  class="form-control" id="setting-input-3" formControlName="date_given" [ngClass]="{ 'is-invalid': submitted && f['date_given'].errors }" >
                            <div *ngIf="submitted && f['date_given'].errors" class="invalid-feedback">
                                <div *ngIf="f['date_given'].errors['required']" style="color:red;">La date  est obligatoire</div>
                            </div>  
                        </div>
                        <div class="mb-3">
                            <div class="form-check mb-3">
                                <p class="text-danger" for="settings-checkbox-2">
                                    {{message}}
                                </p>
                            </div> 
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn app-btn-primary" [disabled]="disableButton " >Enregistrer</button>
 
                        </div>
               
                    </div><!--//app-card-body-->
                
            </div><!--//app-card-->
        </div>
       
    </div><!--//row-->
    </form>
</div><!--//container-fluid-->